<div id="sidebar">

  <header>
    <div class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </div>
    <p class="lead">{{ site.description }}</p>
  </header>

  <a class="nav-link {% if page.url == '/' %}active{% endif %}"
     href="{{ site.url }}"><i class="icon fa fa-sign-in"></i>Подключение</a>
  <a class="nav-link {% if page.url == '/ExtensionMethods' %} active{% endif %}"
     href="{{ site.baseurl }}/ExtensionMethods"><i class="icon fa fa-code"></i>Методы расширения</a>
  <a class="nav-link {% if page.url == '/AccountManager' %} active{% endif %}"
    href="{{ site.baseurl }}/AccountManager"><i class="icon fa fa-users"></i>Менеджер аккаунтов</a>
  <a class="nav-link {% if page.url == '/BrowserManager' %} active{% endif %}"
    href="{{ site.baseurl }}/BrowserManager"><i class="icon fa fa-firefox"></i>Менеджер браузера</a>
  <a class="nav-link {% if page.url == '/MultiLogger' %} active{% endif %}"
     href="{{ site.baseurl }}/MultiLogger"><i class="icon fa fa-pencil-square-o"></i>Логирование</a>
  <a class="nav-link {% if page.url == '/Utils' %} active{% endif %}"
     href="{{ site.baseurl }}/Utils"><i class="icon fa fa-wrench"></i>Хелперы</a>
  <br>
  <a class="nav-link {% if page.url == site.sidebar_docs_link %} active{% endif %}"
     href="{{ site.baseurl }}{{ site.sidebar_docs_link }}"><i class="icon fa fa-info-circle"></i>Описание методов</a>
  <ul>
    <li>
      <a class="page-link {% if page.url contains 'docs/AccountManager' %} active {% endif %}"
         href="{{ site.baseurl }}{{ site.sidebar_docs_link }}#AccountManager">Менеджер аккаунтов</a>
    </li>
    <li>
      <a class="page-link {% if page.url contains 'docs/BrowserManager' %} active {% endif %}"
         href="{{ site.baseurl }}{{ site.sidebar_docs_link }}#BrowserManager">Настройка браузера</a>
    </li>
    <li>
      <a class="page-link {% if page.url == 'MultiLogger' %} active {% endif %}"
         href="{{ site.baseurl }}{{ site.sidebar_docs_link }}#MultiLogger">Мультилогер</a>
    </li>
    <li>
      <a class="page-link {% if page.url contains '/Instance' %} active{% endif %}"
         href="{{ site.baseurl }}{{ site.sidebar_docs_link }}#Instance">Instance</a>
    </li>
    <li>
      <a class="page-link {% if page.url contains 'Project' %} active{% endif %}"
         href="{{ site.baseurl }}{{ site.sidebar_docs_link }}#Project">Project</a>
    </li>
    <li>
      <a class="page-link {% if page.url contains 'Variables' %} active{% endif %}"
      href="{{ site.baseurl }}{{ site.sidebar_docs_link }}#Variables">Project.Variables</a>
    </li>
    <li>
      <a class="page-link {% if page.url contains 'Tab' %} active{% endif %}"
         href="{{ site.baseurl }}{{ site.sidebar_docs_link }}#Tab">Tab</a>
    </li>
    <li>
      <a class="page-link {% if page.url contains 'HtmlElement' %} active{% endif %}"
         href="{{ site.baseurl }}{{ site.sidebar_docs_link }}#HtmlElement">HtmlElement</a>
    </li>
    <li>
      <a class="page-link {% if page.url contains '/DateTime' %} active{% endif %}"
         href="{{ site.baseurl }}{{ site.sidebar_docs_link }}#DateTime">DateTime</a>
    </li>
    <li>
      <a class="page-link {% if page.url contains 'Int32' %} active{% endif %}"
         href="{{ site.baseurl }}{{ site.sidebar_docs_link }}#Int32">Int32</a>
    </li>
  </ul>

</div>